@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #000000;
  --text-secondary: #3f3e3e;

  /* Brand colors */
  --red-violet: #aa18a3;

  /* Primary colors */
  --blue-85E: #2e4e85;
  --blue-1F: #00b9ff;
  --blue-2A: #00b1fa;
  --black-17: #171717;
}

.btn {
  font-size: 18px;
  border: 1px solid #ffffff;
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--blue-2A);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
  color: var(--blue-2A);
  border: 1px solid var(--blue-2A);
}

input[type="number"] {
  border: 1px solid var(--black-17);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--black-17);
  transition: 0.3s ease-in-out;
}

input[type="number"]::placeholder {
  color: var(--black-17);
}

select {
  border: 1px solid var(--black-17);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--black-17);
  transition: 0.3s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-message {
  visibility: hidden;
  width: 200px;
  background-color: var(--blue-2A);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 0px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.tooltip:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}

.transition-ease {
  transition: 0.3s ease-in-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 1s ease-in-out;
}
