@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* UI & surface colors */

  --bg-primary: #ffffff;
  --bg-secondary: #8c8c8c;

  --text-primary: #000000;
  --text-secondary: #3f3e3e;

  /* Brand colors */
  --red-violet: #aa18a3;

  /* Primary colors */
  --cerulean-50: #eff9ff;
  --cerulean-100: #def3ff;
  --cerulean-200: #b6e8ff;
  --cerulean-300: #75d9ff;
  --cerulean-400: #2cc6ff;
  --cerulean-500: #00b1fa;
  --cerulean-600: #008cd4;
  --cerulean-700: #006fab;
  --cerulean-800: #005e8d;
  --cerulean-900: #064e74;
}

.btn {
  font-size: 18px;
  border: 1px solid #ffffff;
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--cerulean-500);
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
  color: var(--cerulean-500);
  border: 1px solid var(--cerulean-500);
}

input[type="number"] {
  border: 1px solid #171717;
  padding: 5px 10px;
  border-radius: 5px;
  color: #171717;
  transition: 0.3s ease-in-out;
}

input[type="number"]::placeholder {
  color: #171717;
}

select {
  border: 1px solid #171717;
  padding: 5px 10px;
  border-radius: 5px;
  color: #171717;
  transition: 0.3s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-message {
  visibility: hidden;
  width: 200px;
  background-color: var(--cerulean-500);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 0px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.tooltip:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}

.transition-ease {
  transition: 0.3s ease-in-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 1s ease-in-out;
}

.full {
  height: calc(100vh - 57px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}
